.container-box {
    border: 1px solid #ccc;
    padding: 20px;
}

body {
    background-color: blue;
}

h1 {
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

label {
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

input[type="text"] {
    width: 210px;
}

p {
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 8px 5px;
    display: flex;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-inline {
    margin: 0;
}

